TRANSLATION_IOS_BUNDLE_ID=com.example.translationMobile
TRANSLATION_IOS_DEVELOPMENT_TEAM=5YR3BKMQ62
TRANSLATION_IOS_APP_GROUP_ID=group.$(TRANSLATION_IOS_BUNDLE_ID)
TRANSLATION_IOS_BROADCAST_EXTENSION_ID=$(TRANSLATION_IOS_BUNDLE_ID).EnterpriseBroadcast
#include? "LocalIdentity.xcconfig"
#include "Generated.xcconfig"
